<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Devis</title>

    <style>
        .invoice-box {
            font-size: 16px;
            line-height: 24px;
            font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
            color: #555;
        }

        .invoice-box table {
            width: 100%;
            line-height: inherit;
            text-align: left;
        }

        .invoice-box table td {
            padding: 5px;
            vertical-align: top;
        }

        /*.invoice-box table tr td:nth-child(2) {*/
        /*    text-align: right;*/
        /*}*/

        .invoice-box table tr.top table td {
            padding-bottom: 20px;
        }

        .invoice-box table tr.top table td.title {
            font-size: 45px;
            line-height: 45px;
            color: #333;
        }

        .invoice-box table tr.information table td {
            padding-bottom: 40px;
        }

        .invoice-box table tr.heading td {
            background: #eee;
            border-bottom: 1px solid #ddd;
            font-weight: bold;
        }

        .invoice-box table tr.details td {
            padding-bottom: 20px;
        }

        .invoice-box table tr.item td {
            border-bottom: 1px solid #eee;
        }

        .invoice-box table tr.item.last td {
            border-bottom: none;
        }

        .invoice-box table tr.total td:nth-child(4) {
            border-top: 2px solid #eee;
            font-weight: bold;
            text-align: right;
        }

        @media only screen and (max-width: 600px) {
            .invoice-box table tr.top table td {
                width: 100%;
                display: block;
                text-align: center;
            }

            .invoice-box table tr.information table td {
                width: 100%;
                display: block;
                text-align: center;
            }
        }

        /** RTL **/
        .rtl {
            direction: rtl;
            font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        }

        .rtl table {
            text-align: right;
        }

        .rtl table tr td:nth-child(2) {
            text-align: left;
        }
    </style>
</head>

<body>
<div class="invoice-box">
    <table cellpadding="0" cellspacing="0">
        <tr class="top">
            <td colspan="4">
                <table>
                    <tr>
                        <td class="title">
                            <img src="{{ request.scheme }}://{{ request.get_host }}{{ MEDIA_URL }}kermadera2.png"
                                 style="width:100%; max-width:300px;">
                        </td>

                        <td style="text-align: right">
                            ID Devis : {{ devis.uuid }}<br>
                            Edité le : {{ date|date:'d/m/Y'}}<br>
                            Valable 30 jours
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr class="information">
            <td colspan="4">
                <table>
                    <tr>
                        <td>
                            Madera<br>
                            12345 Rue Machin<br>
                            67890 EnDurVille
                        </td>
                        <td style="text-align: right">
                            {{ client.nom }} {{ client.prenom }}<br>
                            {{ client.telephone}}<br>
                            {{ client.mail }}<br>
                            {{ client.adresse }}<br>
                            {{ client.code_postal }} {{ client.ville }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Référence projet : {{ devis.reference_projet }}<br>
                            Nom projet : {{ devis.nom_projet }}<br>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr class="heading">
            <td>
                Module
            </td>

            <td>
                Prix unitaire
            </td>
            <td>
                Quantité
            </td>
            <td>
                Prix ligne
            </td>
        </tr>
        {% for ligne in devis.modules %}
            <tr class="item">
                <td>
                    {{ ligne.libelle }}
                </td>

                <td>
                    {{ ligne.prix }} €
                </td>
                <td>
                    {{ ligne.quantite }}
                </td>
                <td>
                    {% widthratio ligne.prix 1 ligne.quantite %} €
                </td>
            </tr>
        {% endfor %}

        <tr class="total">
            <td></td>
            <td></td>
            <td></td>

            <td>
                Total: {{ devis.prix }} €
            </td>
        </tr>
    </table>
</div>
</body>
</html>